{% extends "rec_app/layout.html" %}
{% load static %}
{% block body %}
    <script src="{% static 'rec_app/receipe.js' %}" type="text/javascript"></script>
    <h1>{{ receipe.name }}</h1>
    {% if receipe.photo %}
    <img src="{{ receipe.photo.url }}" width=400px>
    {% endif %}
    <div>
        
        {% for container in containers %}
        <h2> Container:{{ container.id }}</h2> 
        <div id="ingredient_{{container.id}}" class="ingredients" >
            <h4 id="heading_{{container.id}}">Ingredients</h4>
            <ul>
                
                <li>{{ container.ingredients }}</li>
                
            </ul>
        </div>
        
        <div id="procedure_{{container.id}}" class="procedure" >
            <h4 id="heading_{{container.id}}">Procedure</h4>
            <ol>
                <li>{{container.procedure}}</li>
            </ol>
        </div>
        <button id="btn_{{container.id}}" type="button" data-id="{{container.id}}">To procedure</button>
        {% endfor %}
        
    </div>    
             
    
    <a href="{% url 'index' %}"> Menu</a>
    </div>
{% endblock %}