{% extends "rec_app/layout.html" %}

{% block body %}
    <h1>{{ receipe.name }}</h1>
    {% if receipe.photo %}
    <img src="{{ receipe.photo.url }}" width=400px>
    {% endif %}
    <img {{ receipe.photo }} name="taifuku"> 
    <div>
        <ul>
            <h3>Ingredients</h3>
            <li>{{receipe.ingredients}}</li>
        </ul>
        
        <ol><h3>Procedure</h3>
            <li>{{ receipe.procedure }}</li>  
        </ol>
        <a href="{% url 'index' %}"> Menu</a>
    </div>
{% endblock %}