{% extends "rec_app/layout.html" %}
{% block body %}
    <h1>{{ receipe.name }}</h1>
    {% if receipe.photo %}
    <img src="{{ receipe.photo.url }}" width=400px>
    {% endif %}
    <div>
        
        {% for container in containers %}
        <h2> Container:{{ container.id }}</h2> 
        <h4>Ingredients</h4>
        <div id="container_{{container}}" class="container">
            <ul>
                <li>{{container.ingredients}}</li>
            </ul>
        {% endfor %}
    </div>    
    <div>
        
        {% for container in containers %}
        <h2>Container:{{ container.id }}</h2>
        <h4>Procedure</h4>
        <div id="container_{{container}}" class="procedure"></div>
        <ol>
            <li>{{ container.procedure }}</li>  
        </ol>
        {% endfor %}
    </div>
             
    <a href="{% url 'index' %}"> Menu</a>
    </div>
{% endblock %}